<div class="container-fluid">
  <app-image-gallery></app-image-gallery>
  <!-- PC의 간략한 정보를 상품 리스트로 출력하는 부분 -->
  <h1 *ngIf="pcListCount <= 0; else existList">등록된 상품이 없습니다.</h1>
  <ng-template #existList>
    <div [ngClass]="{'row': true, 'row-offcanvas': true, 'row-offcanvas-right': true
    , 'active': active}">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-danger">
        <button type="button" class="pull-left btn btn-primary btn-lg visible-xs" (click)="toggleSide()">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"> 상품검색</span>
        </button>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-0 panel-group sidebar-offcanvas" id="sidebar" role="tablist">
        <app-sidebar [pcFilter]="pcFilter"></app-sidebar>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <ul class="list-group">
          <!-- 한 개의  PC 열기-->
          <li class="list-group-item" *ngFor="let pc of pcList">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div></div>
                <div>
                  <a href="pcDetail.jsp?code={{pc.pcCode}}">
                    <img [src]="'assets/'+pc.pcListImg.mainImg" class="img-responsive center-block">
                  </a>
                </div>
                <div></div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div>
                  <a href="pcDetail.jsp?code={{pc.pcCode}}">
                    <img [src]="'assets/'+pc.pcListImg.brandImg">
                  </a>
                </div>
                <h2>
                  <a [routerLink]="['/goods/detail', pc.pcCode]">
                    <span *ngIf="!pc.ssdSpace">
                        {{pc.pcBrand }} 데스크탑 컴퓨터 {{pc.cpuKind}} ({{pc.cpuKind}}) {{pc.hddSpace}} HDD {{pc.graphicKind}} {{pc.osName}}
                    </span>
                    <span *ngIf="!pc.hddSpace">
                      {{pc.pcBrand}} 데스크탑 컴퓨터 {{pc.cpuKind}} ({{pc.cpuSpeed}}) {{pc.ssdSpace}} SSD {{pc.graphicKind}} {{pc.osName}}
                    </span>
                    <span *ngIf="pc.hddSpace && pc.ssdSpace">
                      {{pc.pcBrand}} 데스크탑 컴퓨터 {{pc.cpuKind}} ({{pc.cpuSpeed}}) {{pc.hddSpace}} HDD  {{pc.ssdSpace}} SSD {{pc.graphicKind}} {{pc.osName}}
                    </span>
                  </a>
                </h2>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-8 col-xs-12">
                <div>
                  <div>
                    <a href="pcDetail.jsp?code={{pc.pcCode}}">
                      <span><strong>{{pc.pcPrice | currency}}</strong></span>
                    </a>
                  </div>
                  <div>
                    <span>예상 배송일: {{pc.deliveryDate}}</span>
                    </div>
                    <div>
                      <span *ngIf="pc.pcDeliveryPrice > 0">배송료 : {{pc.pcDeliveryPrice | currency}}원</span>
                      <span *ngIf="pc.pcDeliveryPrice <= 0">배송료 : 무료 배송</span>
                    </div>
                  </div>
                <div>
                  <strong>등급:</strong>
                  <!-- 등급 -->
                  <ul>
                    <li><strong>CPU: </strong>{{pc.cpuKind}} {{pc.cpuName}} {{pc.cpuSpeed}}</li>
                    <li><strong>메모리: </strong>{{pc.mainBoardRamLimit}} {{pc.ramSpeed}}</li>
                    <li *ngIf="!pc.ssdSpace"><strong>저장장치: </strong>{{pc.hddSpace}} HDD</li>
                    <li *ngIf="!pc.hddSpace"><strong>저장장치: </strong>{{pc.ssdSpace}}</li>
                    <li *ngIf="pc.hddSpace && pc.ssdSpace"><strong>저장장치: </strong>{{pc.hddSpace}} HDD</li>
                    <li *ngIf="pc.hddSpace && pc.ssdSpace"><strong>저장장치: </strong>{{pc.ssdSpace}} SSD</li>
                    <li><strong>그래픽 카드: </strong>{{pc.graphicKind}}</li>
                    <li><strong>용도: </strong>{{pc.pcType}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
